@import '../../config';

.layover-filters {
  width: 232px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 20px;
  padding-bottom: 10px;

  &__title {
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $dark-gray;
    padding: 20px;
  }
}
