// Colors
$primary: #2196f3;
$secondary: #f1fcff;
$dark-gray: #4a4a4a;
$light-gray-1: #a0b0b9;
$light-gray-2: #dfe5ec;
$light-blue-1: #9abbce;
$light-blue-2: #64b5f5;
$orange: #ff6d00;
$light-orange: #ff8a32;

// Border-radiuses
$border-radius-default: 5px;
$border-radius-small: 2px;
