@import '../../config';

.layover-filter {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: $dark-gray;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }

  &__input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
  }

  &__label {
    padding-left: 20px;
    margin-left: 10px;
  }

  &__checkbox {
    border: 1px solid $light-blue-1;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__input:checked + &__checkbox {
    background-image: url('./assets/checkmark.svg');
    border: 1px solid $primary;
  }
}
